// Colours

$Color-Soft-Orange: #e9ab53;
$Color-Soft-Red: #f15e50;
$Color-White: #fffdfa;
$Color-Grayish-Blue: #c5c6ce;
$Color-Dark-Grayish-Blue: #5d5f79;
$Color-Dark-Blue: #00001a;

// Font Family

$Font-Family: "Inter", sans-serif;
