@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
/* line 1, src/scss/partials/_global.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 7, src/scss/partials/_global.scss */
body {
  font-family: "Inter", sans-serif;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    /* line 7, src/scss/partials/_global.scss */
    body {
      width: 80%; } }

/* line 17, src/scss/partials/_global.scss */
img {
  width: 100%;
  height: 100%; }

/* line 1, src/scss/partials/_header.scss */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.625rem;
  margin-bottom: 2rem; }
  @media (min-width: 1000px) {
    /* line 1, src/scss/partials/_header.scss */
    header {
      margin-bottom: 3.4375rem; } }
  /* line 12, src/scss/partials/_header.scss */
  header .nav {
    display: none; }
    @media (min-width: 1000px) {
      /* line 12, src/scss/partials/_header.scss */
      header .nav {
        display: block; } }
    /* line 19, src/scss/partials/_header.scss */
    header .nav ul {
      display: flex;
      align-items: center;
      list-style: none; }
    /* line 25, src/scss/partials/_header.scss */
    header .nav li {
      margin-left: 2.5rem; }
    /* line 29, src/scss/partials/_header.scss */
    header .nav a {
      color: #5d5f79;
      font-size: 0.9375rem;
      text-decoration: none; }
      /* line 34, src/scss/partials/_header.scss */
      header .nav a:hover {
        color: #f15e50; }
  @media (min-width: 1000px) {
    /* line 40, src/scss/partials/_header.scss */
    header .menu {
      display: none; } }
  /* line 45, src/scss/partials/_header.scss */
  header .menu img {
    cursor: pointer; }
  /* line 52, src/scss/partials/_header.scss */
  header .menu__close {
    display: none; }

/* line 1, src/scss/partials/_main.scss */
.main {
  margin-bottom: 5rem; }

/* line 5, src/scss/partials/_main.scss */
.main__new {
  background-color: #00001a;
  margin-bottom: 4rem;
  padding: 1.5rem 1.25rem; }
  /* line 10, src/scss/partials/_main.scss */
  .main__new h2 {
    color: #e9ab53;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.1875rem; }
  /* line 17, src/scss/partials/_main.scss */
  .main__new-group {
    padding-bottom: 1.8125rem; }
    /* line 19, src/scss/partials/_main.scss */
    .main__new-group:not(:last-child) {
      border-bottom: 1px solid #5e607a;
      margin-bottom: 2rem; }
    /* line 24, src/scss/partials/_main.scss */
    .main__new-group h3 {
      color: #fffdfa;
      font-size: 1.25rem;
      font-weight: 800; }
    /* line 30, src/scss/partials/_main.scss */
    .main__new-group p {
      color: #c5c6ce;
      font-size: 0.9375rem;
      line-height: 1.625rem; }

/* line 38, src/scss/partials/_main.scss */
.main__popular {
  margin-bottom: 4rem; }
  /* line 41, src/scss/partials/_main.scss */
  .main__popular img {
    margin-bottom: 1.5rem; }
  /* line 45, src/scss/partials/_main.scss */
  .main__popular h1 {
    color: #00001a;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    margin-bottom: 1rem; }
  /* line 53, src/scss/partials/_main.scss */
  .main__popular p {
    color: #5d5f79;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem; }
  /* line 60, src/scss/partials/_main.scss */
  .main__popular .btn {
    color: #fffdfa;
    background-color: #f15e50;
    text-decoration: none;
    padding: 0.8125rem 2.1875rem;
    display: inline-block; }
    /* line 67, src/scss/partials/_main.scss */
    .main__popular .btn:hover {
      background-color: #00001a; }

/* line 74, src/scss/partials/_main.scss */
.main__trending-group {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 1.5rem; }
  /* line 79, src/scss/partials/_main.scss */
  .main__trending-group:not(:last-child) {
    margin-bottom: 2rem; }

/* line 84, src/scss/partials/_main.scss */
.main__trending h2 {
  color: #c5c6ce;
  font-size: 2rem;
  margin-bottom: 0.75rem; }

/* line 90, src/scss/partials/_main.scss */
.main__trending a {
  color: #00001a;
  font-weight: 800;
  text-decoration: none;
  display: block;
  margin-bottom: 0.625rem; }

/* line 98, src/scss/partials/_main.scss */
.main__trending p {
  color: #5d5f79;
  line-height: 26px; }
